.advantages {
  background-color: @color-gray;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantages__wrapper {
  padding-top: 58px;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    width:310px;
    order: 2;
  }

  .advantages__wrapper--flex {
    display: flex;
    width: 620px;
    justify-content: space-between;
  }

  .advantages__image {
    margin-top: 159px;
    margin-left: 0;
    margin-right: 0;
  }
}
