.checkbox {
  display: block;
  font-family: @font-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #283645;

  margin-bottom: 53px;
}

.checkbox__input {
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}

.checkbox__label {
  margin-left: 34px;
}
