.contacts {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: #283645;
}

.contacts__paragraph {
  padding: 0;
  display: flex;
  width: 280px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.contacts__paragraph:last-child {
  margin-bottom: 20px;
}

.contacts__heading {
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
}

.contacts__text {
  color: #d22856;
  text-align: center;
  line-height: normal;
  margin: 0 auto;
  margin-bottom: 17px;
}

.contacts__text--mail {
  margin-bottom: 24px;
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    width: 620px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__paragraph:nth-child(2) {
    margin-left: 32px;
  }

  .contacts__paragraph:last-child {
    margin-top: 28px;
    margin-bottom: 10px;
  }

  .contacts__text--mail {
    margin-bottom: 14px;
  }

  .contacts__heading--address {
    margin-bottom: 1px;
  }

  .contacts__heading--mail {
    margin-bottom: 4px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 945px;
    margin: 0 auto;
  }

  .contacts__paragraph:nth-child(2) {
    order: 3;
  }

  .contacts__paragraph:last-child {
    margin: 0;
  }

  .contacts__text--phone {
    margin: 0 0 0 23px;
  }

  .contacts__text--mail {
    margin-left: 30px;
  }

  .contacts__text {
    margin-bottom: 0;
  }

  .contacts__heading {
    margin: 0;
    margin-bottom: 22px;
  }

  .contacts__heading--phone {
    margin-left: 83px;
  }

  .contacts__heading--address {
    margin-left: 44px;
  }

  .contacts__heading--mail {
    margin-left: 109px;
  }

  .contacts__text--address {
    margin-top: -4px;
  }

  .contacts__paragraph {
    align-content: flex-start;
  }
}
