.copyright__text {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.copyright {
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.copyright__link {
  fill: @color-danger;
  margin-top: 4px;
}

@media (min-width: @tablet-width) {
  .copyright {
  width: 128px;
  margin: 0;
  margin-top: 8px;
 }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
  }

  .copyright {
    width: 153px;
  }
}
