.features__title {
  font-family: @font-main;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-align: center;

  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.features__text {
  font-family: @font-main;
  font-size: 14px;
  font-weight: 400;
  color: #283645;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
}
