.form__text {
  font-family: @font-main;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  color: #283645;
  text-align: center;

  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 35px;
}

.form__text--tablet {
  display: none;
}

.form__contacts {
  padding-top: 6px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  border: none;
}

.form__wrapper--gray {
  background-color: #f2f2f2;
}

.form__text--disabled {
  display: none;
}


@media (min-width: @tablet-width) {
  .form__text {
    font-size: 18px;
    line-height: 1.67;
    width: 490px;
    margin-bottom: 65px;
  }

  .form__flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .form__info {
    width: 100%;
  }

  .form__wrapper--flex {
    display: flex;
    width: 620px;
    justify-content: space-between;
    align-items: center;
  }

  .form__checkbox {
    width: 100%;
    order: 4;
  }

  .form__contacts {
    width: 100%;
    order: 3;
  }

  .form__radio {
    width: 100%;
  }

  .form__comment {
    width: 100%;
    order: 5;
  }
  .form__wrapper--gray {
    background-color: #ffffff;
  }

  .form__fieldset {
    border: 2px solid #e6e6e6;
    margin-bottom: 11px;
  }

  .form__fieldset--contacts {
    padding-bottom: 3px;
    margin-bottom: 56px;
  }

  .form__fieldset--textarea {
    margin-bottom: 66px;
  }

  .form__fieldset--checkbox {
    margin-bottom: 56px;
    padding-bottom: 8px;
  }

  .form__fieldset--radio {
    padding-bottom: 12px;
    margin-bottom: 51px;
  }

  .form__fieldset--info {
    border: none;
  }

  .form__text--disabled {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .form__flex {
    width: 940px;
    justify-content: space-between;
  }

  .form__wrapper--flex {
    width: 940px;
  }

  .form__text {
    width: 762px;
    margin-bottom: 42px;
  }

  .form__radio {
    width: 436px;
  }

  .form__info {
    margin-top: 8px;
    width: 436px;
  }

  .form__fieldset {
    width: 940px;
  }

  .form__fieldset--radio {
    width: 436px;
  }

  .form__fieldset--info {
    margin-bottom: 0;
  }

  .form__fieldset--contacts {
    padding-bottom: 13px;
  }
}
