.header-list {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.78;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-list__item {
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #475462;
  border-bottom: 1px solid #000000;
}

.header-list__link {
  color: #ffffff;
}

@media (min-width: @desktop-width) {
  .header-list {
    font-weight: 400;
    line-height: 1;
    text-transform: none;
    display: flex;
    width: 621px;
    justify-content: space-between;
  }

  .header-list__item {
    border: none;
  }

  .header-list__link--active {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 8px;
  }
}
