.page-header {
  background: @color-warning;
}

.page-header__logo-wrapper {
  display: flex;
  width: 282px;
  justify-content: space-between;
  text-align: center;
  padding-top: 22px;
  border-bottom: 1px solid #000000;
  padding-bottom: 21px;
}


.page-header__logo-image--tablet {
  display: none;
}

.page-header__logo-image--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__logo-wrapper {
    width: 622px;
    padding-top: 27px;
    padding-bottom: 39px;
  }

  .page-header__logo-image--mobile {
    display: none;
  }

  .page-header__logo-image--tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    display: flex;
    align-items: center;
  }

  .page-header__logo-wrapper {
    border: none;
    padding-bottom: 43px;
  }

  .page-header__logo-image--tablet {
    display: none;
  }

  .page-header__logo-image--desktop {
    display: block;
  }

  .page-header--desktop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}
