.page-header {
  background: @color-warning;
}

.page-header__logo-wrapper {
  display: flex;
  width: 280px;
  justify-content: space-between;
  text-align: center;
  padding: 22px 0;
}

@media (min-width: @tablet-width) {
  .page-header__logo-wrapper {
    width: 620px;
    padding-top: 27px;
    padding-bottom: 43px;
 }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
   display: flex;
   align-items: center;
 }
}
