.page-main__heading {
  font-family: @font-main;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: #ffffff;
  text-align: center;

  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 87px;
}

.page-main__text {
  font-family: @font-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  text-align: center;

  margin: 0;
  padding: 0;
}

.page-main__text--header {
  padding: 58px 0;
}

.page-main__text--footer {
  padding: 52px 0;
}

.page-main__wrapper {
 background-repeat: no-repeat;
  background-color: #ffffff;
}

.page-main__wrapper--gray{
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: @color-gray;
}

.page-main__wrapper--index {
  height: 462px;
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-size: auto, cover;
  background-position: bottom left, center;
}

.page-main__wrapper--photo {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-size: cover;
  background-position: center;
}

.page-main__wrapper--form {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 56px;
}
