.page-footer__wrapper {
  display: none;
  padding: 40px 0;
}

.page-footer__wrapper--photo {
  display: block;
}

.page-footer__flex {
  display: flex;
  width: 280px;
  flex-wrap: wrap;
}

.page-footer__wrapper--form {
  display: block;
  padding-top: 60px;
}

@media (min-width: @tablet-width) {
  .page-footer__flex {
    display: flex;
    width: 620px;
    justify-content: space-between;
  }

  .page-footer__wrapper {
    display: block;
    padding-top: 31px;
  }

  .page-footer__wrapper--photo {
    padding-top: 36px;
  }

  .page-footer__wrapper--form {
    padding-top: 83px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__flex {
    width: 941px;
  }

  .page-footer__wrapper--photo {
    padding-top: 46px;
    padding-bottom: 75px;
  }

  .page-footer__wrapper--form {
    padding-top: 69px;
  }
}
