.page-main {
  width: 320px;
  margin: 0 auto;
}

.page-main__text {
  font-family: @font-main;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: #ffffff;

  margin: 0;
  padding: 0;
  padding-top: 28px;
  margin-bottom: 87px;
}

.page-main__wrapper {
  background-repeat: no-repeat;
  width: 320px;
  height: 462px;
}

.page-main__wrapper--index {
  background-image: url(../../img/bg-back-mobile@1x.jpg);
}
