.photo__name {
  font-weight: 700;

  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.photo__time {
  font-weight: 300;
}

.photo__text {
  margin: 0;
  padding: 0;
}

.photo__wrapper {
  padding: 0 17px;
}

.photo__like {
  font-family: @font-main;
  font-weight: 400;
  line-height: 2;
  color: #d22856;
  border: none;
  text-transform: uppercase;

  margin-top: 20px;
  margin-bottom: 28px;
}

.photo__flex {
  display: flex;
  width: 125px;
  justify-content: space-between;
  align-items: center;
}

.photo__button {
  width: 13px;
  height: 12px;
  font-size: 0;
  background-color: transparent;
  border: none;
  background-image: url(../img/icon-heart.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.photo {
  background-color: @color-gray;
}

@media (min-width: @tablet-width) {
  .photo {
    width: 300px;
    background-color: #f2f2f2;
  }

  .photo__text {
    min-height: 46px;
  }

  .photo__wrapper {
    padding: 0 27px;
  }

  .photo__wrapper:nth-child(3) {
    margin-top: 100px;
  }

  .photo__flex {
    width: 242px;
  }

  .photo__button {
    order: 2;
  }
}
