.photo__name {
  font-weight: 700;
  color: #283645;
  margin: 0;
  padding: 0;
  padding-top: 18px;
}

.photo__time {
  font-weight: 300;
}

.photo__text {
  color: #283645;
  margin: 0;
  padding: 0;
}

.photo__wrapper {
  padding: 0 17px;
}

.photo__like {
  font-weight: 400;
  line-height: 2;
  font-size: 12px;
  color: #d22856;
  background-color: @color-gray;
  border: 0;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
}

.photo__flex {
  display: flex;
  width: 127px;
  justify-content: space-between;
  align-items: center;
}

.photo__flex--sergey {
  width: 113px;
}

.photo__flex--nadeshda {
  width: 134px;
}

.photo__like--nadeshda {
  margin-top: 11px;
}

.photo__button {
  width: 13px;
  height: 12px;
  font-size: 0;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 9px;
  margin-left: 1px;
}

.photo {
  background-color: @color-gray;
}

.photo__img {
  display: block;
}

@media (min-width: @tablet-width) {
  .photo {
    width: 300px;
    background-color: #f2f2f2;
  }

  .photo__text {
    min-height: 46px;
  }

  .photo__wrapper {
    padding: 0 27px;
  }

  .photo__wrapper:nth-child(3) {
    margin-top: 100px;
  }

  .photo__flex {
    width: 242px;
  }

  .photo__button {
    order: 2;
  }

  .photo__name {
    padding-top: 24px;
  }

  .photo__like {
    padding-left: 0;
    margin-top: 14px;
    margin-bottom: 21px;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    margin-bottom: 34px;
  }
}
