.photo__name {
  font-weight: 700;

  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.photo__time {
  font-weight: 300;
}

.photo__text {
  margin: 0;
  padding: 0;
}

.photo__wrapper {
  padding: 0 17px;
}

.photo__like {
  font-family: @font-main;
  font-weight: 400;
  line-height: 2;
  color: #d22856;
  border: none;

  margin-top: 20px;
  margin-bottom: 28px;
  padding-left: 33px;
  position: relative;
}

.photo__like::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 10px;
  left: 7px;
  transform: translateX(-50%);
  background-image: url(../img/icon-heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.photo {
  background-color: @color-gray;
}

@media (min-width: @tablet-width) {
  .photo {
    width: 300px;
    background-color: #f2f2f2;
  }

  .photo__like::after {
    display: none;
  }

  .photo__like {
    padding-left: 0;
    padding-right: 155px;
  }

  .photo__like::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 10px;
    left: 235px;
    transform: translateX(-50%);
    background-image: url(../img/icon-heart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
  }

  .photo__text {
    min-height: 46px;
  }

  .photo__wrapper {
    padding: 0 27px;
  }

  .photo__wrapper:nth-child(3) {
    margin-top: 100px;
  }
}
