.price__toggles {
  margin: 0;
  padding: 0;

  text-align: center;
}

.price {
  font-family: @font-main;
}

.price__rate {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;

  color: #ffffff;
  background-color: @color-warning;
  width: 280px;
}

.price__cost {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
}

.price__functions {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: #283645;
  border: solid 2px #e5e5e5;

  margin: 0;
  padding: 0;
}

.price__wrapper--gray {
  background-color: @color-gray;
  padding-top: 68px;
  padding-bottom: 50px;
}

.price__list {
  margin-bottom: 40px;
}
