.price__toggles {
  display: flex;
  width: 59px;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  padding-top: 41px;
  align-items: center;
}

.price__title {
  display: block;
}

.price__wrapper {
  background-image: url("../img/bg-triangle-white.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.price__rate--hit::after {
  content: "хит";
  font-weight: 700;
  font-size: 12px;
  background: #d32355;
  position: absolute;
  width: 100px;
  top: 12px;
  left: -27px;
  padding: 5px 0;
  transform: rotate(-45deg);
}

.price__flex {
  display: flex;
  width: 239px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 14px;
  padding-left: 5px;
  padding-bottom: 15px;
}

.price__rate--hit {
  position: relative;
  overflow: hidden;
}

.price__rate {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 20px;
  color: #ffffff;
  background-color: @color-warning;
  border-left: 2px solid #e6e6e6;
}

.price__rate-wrapper {
  width: 110px;
  margin: 0 auto;
}

.price__cost {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  display: block;
}

.price__wrapper--gray {
  background-color: @color-gray;
  padding-top: 124px;
  padding-bottom: 47px;
  overflow: hidden;
}

.price__list td {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: #283645;
  border: solid 2px #e5e5e5;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  min-width: 277px;
}

.price__list td:first-child {
  display: none;
}

.price__list th:first-child {
  display: none;
}

.price__list {
  transform: translateX(-280px);
  border-collapse: collapse;
}

.price__enabled-image {
  width: 31px;
  height: 21px;
  fill: #3dc644;
}

.price__disabled-image {
  width: 27px;
  height: 26px;
  fill: #f25b26;
}

@media (min-width: @tablet-width) {
  .price__list td:first-child {
    display: table-cell;
    border: 2px solid #e5e5e5;
  }

  .price__rate {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 8px;
    line-height: 30px;
  }

  .price__rate-wrapper {
    width: 91px;
  }

  .price__wrapper--gray {
    padding-top: 109px;
    padding-bottom: 66px;
  }

  .price__wrapper {
    background-position: 50% 0;
  }

  .price__cost {
    font-size: 18px;
    line-height: 30px;
  }

  .price__list th:first-child {
    display: block;
  }

  .price__list td {
    min-width: 153px;
    text-transform: none;
  }

  .price__title {
    padding-left: 16px;
  }

  .price__toggles {
    display: none;
  }

  .price__list {
    transform: none;
  }

  .price__flex {
    width: 142px;
    justify-content: center;
    padding-bottom: 14px;
    padding-top: 7px;
  }

  .price__text {
    display: none;
  }

  .price__rate--hit::after {
    content: "хит";
    font-weight: 700;
    font-size: 12px;
    background: #d32355;
    position: absolute;
    width: 97px;
    top: 4px;
    left: -28px;
    padding: 0;
    transform: rotate(-45deg);
  }
}

@media (min-width: @desktop-width) {
  .price__list td {
    min-width: 232px;
    background-color: #ffffff;
  }

  .price__rate--hit::after {
    content: "хит";
    font-weight: 700;
    font-size: 12px;
    background: #d32355;
    position: absolute;
    width: 100px;
    top: 12px;
    left: -26px;
    padding: 0;
    transform: rotate(-45deg);
  }

  .price__flex {
    width: 229px;
    padding-top: 21px;
  }

  .price__wrapper--gray {
    padding-top: 154px;
    padding-bottom: 95px;
  }

  .price__rate-wrapper {
    width: 103px;
    font-size: 18px;
  }

  .price__rate {
    padding-top: 17px;
    padding-bottom: 19px;
  }

  .price__cost {
    font-size: 24px;
  }

  .price__title {
    font-size: 18px;
    padding-left: 21px;
    line-height: 30px;
  }

  .price__wrapper {
    background-size: contain;
  }
}
