.slider {
  position: relative;
}

.slider__arrow {
  display: none;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  font-size: 0;
  border-radius: 50%;
  border: none;
  background-color: #bfc3c8;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slider__toggle--active {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 4px solid @color-warning;
}

@media (min-width: @desktop-width) {
  .slider__arrow {
    display: block;
    border: none;
    background: transparent;
    position: absolute;
    width: 22px;
    height: 42px;
    top: 212px;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
  }

  .slider__arrow--left {
    background-image: url("../img/icon-review-arrow-left.svg");
    left: 0;
  }

  .slider__arrow--right {
    background-image: url("../img/icon-review-arrow-right.svg");
    right: 0;
  }
}
