.study__wrapper {
 width: 202px;
 height: 202px;
 border: 17px solid @color-danger;
 border-radius: 50%;
}

.study__timer {
  display: block;
  font-family: @font-main;
  font-size: 96px;
  font-weight: 700;
  color: @color-danger;

  margin-left: 48px;
  margin-top: 31px;
}



