.study {
  display: none;
  padding-top: 102px;
  padding-bottom: 71px;
}

.study__description-wrapper {
  width: 310px;
}

.study__clock {
  position: relative;
  width: 240px;
  height: 275px;
  background-size: 247px auto;
  background-image: url("../img/icon-timer.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.study__clock::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 19px;
  top: 55px;
  content: "24";
  width: 203px;
  height: 203px;
  box-sizing: border-box;
  border: 14px solid #d22856;
  border-radius: 50%;
  color: #d22856;
  font-size: 96px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-right: 3px;
}

.study__description-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  width: 170px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  margin-top: 36px;
}

.study__description-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #283645;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.study__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: @color-danger;
  border-bottom: 1px solid @color-danger;
}

.study__flex {
  display: flex;
  width: 619px;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .study {
    display: block;
    padding-top: 60px;
  }

  .study__description-heading {
    margin-bottom: 10px;
  }

  .study__description-text--carryover {
    display: none;
  }

  .study__description-text {
    width: 300px;
    margin-bottom: 10px;
    line-height: 24px;
  }

  .study__link {
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .study {
    padding-bottom: 62px;
    padding-top: 26px;
    background-color: @color-gray;
  }

  .study__flex {
    width: 940px;
    justify-content: start;
  }

  .study__description-text--carryover {
    display: block;
  }

  .study__description-wrapper {
    width: 400px;
    margin-left: 62px;
    margin-top: 65px;
  }

  .study__description-heading {
    width: 300px;
    line-height: 30px;
    margin-bottom: 23px;
  }

  .study__description-text {
    width: 551px;
    margin-bottom: 30px;
    margin-top: 22px;
    font-size: 18px;
    line-height: 30px;
  }

  .study__link {
    font-size: 18px;
    line-height: 30px;
  }

  .study__clock {
    width: 304px;
    height: 356px;
    background-size: 308px auto;
  }

  .study__clock::before {
    font-size: 120px;
    left: 23px;
    top: 75px;
    width: 253px;
    height: 253px;
    border: 16px solid #d22856;
    padding-bottom: 15px;
  }
}
