//Семантические цвета

@color-main: #2aab6d;
@color-danger: #d22856;
@color-warning: #233343;
@color-gray: #f2f2f2;

//Ширины

@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 960px;

//Шрифт

@font-main: "Open Sans", "Arial", sans-serif;
